.App {
  margin: 50px;
}
.App .Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: black;
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.App .Nav span {
  font-size: 40px;
  margin: 20px 10px;
  cursor: pointer;
}
.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (orientation: portrait) {
  .App {
    margin-top: 80px;
  }
  .App .Nav {
    width: 100%;
    height: 80px;
    padding-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
}
